/* Velkommen til Åpent Hus på Kodehode!*/

/* Visitkort styling */

main {
  padding: 0;
  margin: 0;
  width: 30rem;
  border-radius: 20px;
  background: url("../images/BG1.jpg") center no-repeat;
  background-position: cover;
}

.container {
  display: grid;
  gap: 10px;
  justify-content: space-between;
  background-color: rgba(225, 225, 225, 0.137);
  border-radius: 20px;
  color: var(--peach);
  padding: 1rem;
  margin: 0;
}

.name {
  grid-column: 1 / -3;
  text-align: center;
}

.img-box {
  grid-row: 2;
}

.card {
  grid-row: 2 / -2;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.pro-pic {
  max-height: 15rem;
  max-width: 15rem;
  border-radius: 5rem;
}

ul {
  list-style: none;
}

.info {
  padding: 1rem;
  flex-direction: column;
}
